
.userCard{
  width: 160px;
  padding: 20px;
  display: inline-block;
  margin: 20px;
  border: 1px solid #ccc;
  text-align: center;
}
.userDetail{
  width: 250px;
  padding: 30px;
  display: inline-table;
  margin: 20px;
  border: 5px solid #ddd;
  border-color: #CAEBF2;
  font-weight:bold;
  font-family:'Courier New', Courier, monospace;

}
h1 {
  background-color: #CAEBF2;
  border-radius: 105% 30% 105% 30%;
}
